/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');


/* Define custom variables */
:root {
    --header-bg-color: #3b82f6;
    --header-color: #fff;
    --neutral-bg-color: #d4d4d4;
}


/* Apply general styling and reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    padding: 32px 64px;
}


/* Style body element */
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--neutral-bg-color);
}


/* Style header element */
header {
    background-color: var(--header-bg-color);
    color: var(--header-color);
    height: 15vh;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

@media (min-width: 320px) and (max-width: 425px) {
    header {
        justify-content: center;
    }
}

header h1 {
    font-family: "Montserrat", sans-serif;
}


/* Style main element */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

.add-a-book {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.add-a-book:hover {
    background-color: #a3a3a3;
}

.add-a-book:active {
    transform: scale(0.9);
}

.add-a-book .add-icon {
    font-size: 24px;
    margin-left: -6px;
}


/* Style footer element */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .author {
    color: #000;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    transition: transform 0.2s;
}

footer .author:hover {
    text-decoration: underline;
}

footer .author:active {
    transform: scale(0.95);
}


/* Style dialog element */
dialog {
    margin: auto;
    border: none;
    padding: 24px;
    background-color: var(--neutral-bg-color);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

dialog form div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

dialog input,
dialog button {
    font-size: inherit;
    outline: none;
    border-radius: 4px;
    border: none;
}

dialog input {
    padding: 4px;
}

dialog button {
    padding: 4px 8px;
    transition: transform 0.3s;
}

dialog button:active {
    transform: scale(0.9);
}

dialog button:hover {
    transform: scale(1.1);
}

dialog button[type="submit"] {
    background-color: var(--header-bg-color);
    color: var(--header-color);
}